.product-list-container {
    width:25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.product-list-container-mobile {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: aliceblue;
}

.product-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    font-size: 1vw;
}
.product-row-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    font-size: 2vh;
}

.product-row-mobile button {
    font-size: 2vh;
    margin-right: 3%;
}

.product-heading {
    border-bottom: 2px solid #8AAB8E;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    color: aliceblue;
    font-size: 3vh;
    background-color: #3C4F6D;   
}

.product-row button {
    margin-right: 10%;
}