.sidebar {
    width: 15vw;
    height: 50vh;
    left:0;
    position: fixed;
    background-color: aqua;
    margin-right: 4vw;
    /* margin-top: 20%; */
}

.sidebar-button {
    aspect-ratio: 1/1;
    width: 100%;
    font-size: large;
    text-overflow: wrap;
    background-color: none;
}

.sidebar-button img {
    
    width: 100%;
    object-fit: cover;
}

