.sidebar {
    width: 15vw;
    max-width: 125px;
    height: 90vh;
    left:0;
    position: fixed;
    margin-right: 4vw;

    /* margin-top: 20%; */
}

.sidebar-button {
    aspect-ratio: 1/1;
    width: 100%;
    font-size: large;
    text-overflow: wrap;
    background-color: #354157;

}

.sidebar-button img {
    
    width: 100%;
    object-fit: cover;
}

