.sidebar {
    width: 15vw;
    height: 50vh;
    left:0;
    position: fixed;
    background-color: aqua;
    margin-right: 4vw;
    margin-top: 20%;
}

.sidebar-button {
    width: 100%;
    height: 20%;
    font-size: large;
    text-overflow: wrap;
}