.section-container {
    background-size: cover;
    background-image: url("../../../Images/HomeBackground.jpg");
    height: 100vh;
}

.section-container button {
    border: none;
    background-color: transparent;
    font-size: x-large;
    color: aliceblue;
    font-family: 'Lobster Two';
    font-size: 3.5vh;
}

.nav-bar {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    gap:1%
}

.title-container {
    height: 75%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 4%;
    font-size: 10vh;
}

.heading1{
    padding-left: 8%;
    line-height: .7em;

}
.heading2{
    padding-left: 12%;
    margin-bottom: 2%;

}

.subhead {
    padding-left: 6%;
    font-size: 3vh;
    color: rgb(255, 255, 255);
}

.footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3vh;
    color: #C37F90 ;
    padding-bottom: 1%;
}


.landing {
    width: 85vw;
    min-height: 90vh;
    /* background-color: aqua; */
    margin-left: 15vw;
    text-align: center;
    background-color: #2b3547;
    color: aliceblue;
    font-size: larger;
}

.landing-img {
    width: 100%;
    height: 65%;
    
}

.landing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-container {
    background-color: #354157;
}