.editor-title {
    text-align: center;
    font-size: larger;
    width: 50%;
    margin-left: 25%;
    border-bottom: 3px solid#C37F90;
    padding: .2vw;
    color: aliceblue;
}

.editor-container {
    padding: 2%;
    background-color: #3C4F6D;
    /* border-left: 3px solid #2b3547; */
}

.email {
    color: aliceblue;
    padding: 3%;
}