.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    height: 82vh;
}

.column{
    padding: 2%;
    width: 40vw;
}

.option-list{
    /* padding: 2%; */
    margin-bottom: 2vw;
}

.item-row {
    display: flex;
    flex-wrap: nowrap;
}


.button-row {
    display: flex;
    justify-content: flex-end;
}

.button-row button {
    background-color: steelblue ;
    color: aliceblue;

    font-size: 2vh;
    
}